<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        
        <meta charset="utf-8">
        <meta name="description" content="LTI 1.1 Tool consumer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <base href="/">
    </head>
    <body>
        <form id="ltiForm" name="ltiForm" action=<%= action %> method="POST">
            <% Object.keys(formFields).forEach(function(key) { %>
                <input name=<%= key %> value=<%= formFields[key] %> type="hidden">
            <% }); %>
        </form>
        <script>
            document.getElementById("ltiForm").submit();
        </script>
    </body>
</html>